body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe WP N';
}

.body__wrap{
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    width: 100%;
    height: 488px;
    background-image: url(../images/bg.png);
    background-size: cover;
}

.header__top{
    display: flex;
    justify-content: center;
    height: 202px;
}

.header-center{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    width: 80%;
}


.logo{
    flex: 2;
}

.menu {
    display: flex;
}

.menu__icon {
    display: none;
    width: 40px;
    height: 35px;
    position: relative;
    cursor: pointer;
    top: 5px;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #f3f6f6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.menu__links-item {
    color: #f3f6f6;
    text-transform: uppercase;
    text-decoration: none;
    padding: 26px 28px;
}

.menu__links-item:hover {
    color: #e67624;
    transition: 250ms;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
}


.header__content{
    width: 100%;
    height: 286px;
    position: relative;
    display: flex;
}

.header__content-button_left{
    position: absolute;
    width: 128px;
    height: 286px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.header__content-button_left:hover{
    opacity: 1;
    transition: 300ms;
}

.header__content-button_right{
    position: absolute;
    width: 128px;
    height: 286px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.header__content-button_right:hover{
    opacity: 1;
    transition: 300ms;
}

.header__content-button_right img{
    transform: scaleX(-1);
}

.header__content-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__content-center img{
    position: relative;
    margin: 0 60px 0 0;
    /*padding: 0 0 0 185px;*/
}

.header__content-center_text{

}

.header__content-center_text h1{
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    margin: 10px 0;
}

.header__content-center_text p{
    color: #ffffff;
    font-size: 42px;
    font-weight: normal;
    margin: 10px 0;
}

.header__content-center_text-button {
    width: 138px;
    height: 38px;
    background-color: #296f4e;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    font-weight: normal;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin: 28px 0;
}

.header__content-center_text-button h4{
    color: #dbdbdb;
    font-size: 23px;
    line-height: 1.5;
    font-weight: 100;
    display: inline;
}

.header__content-center_text-button:hover{
    background-color: #15c269;
}

main{
    max-width: 1024px;
    margin: 0 auto;
    height: inherit;
}

.content__main{
    min-height: 1090px;
    margin-top: 60px;
}

.content__menu{
    display: flex;
    max-width: 100%;
}

.content__menu-block{
    margin: 0;
    padding: 0;
    height: 100%;
    width: calc(100%/4);
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    transition: 250ms;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-bottom: none;
}

.active_button{
    border: 1px solid #80808085;
    box-shadow: 0 2px 0 0 #ffffff;
    border-bottom: none;
    z-index: 1;
}

.content__menu-block:hover{
    background-color: #f5f5f5;
}

.content__menu-block img{
    margin-top: 15px;
}

.content__menu-block h3{
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    color: #bebdbd;
}

.content__menu-block h4{
    font-weight: 200;
    font-size: 18px;
    color: #bebdbd;
    margin-top: 0;
}

.content__center{
    width: 100%;
    min-height: 700px;
    padding-top: 30px;
    border: 1px solid #80808085;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    transition: 200ms;
    display: none;
}

.active{
    opacity: 1;
    position: relative;
    display: block;
}

.content__center-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__center-image img{
     width: 90%;
     display: flex;
     margin: auto;
 }

.content__center h1{
    font-size: 32px;
    font-weight: normal;
    margin-left: 40px;
}

.content__center p{
    font-size: 14px;
    color: #818181;
    line-height: 1.5;
    margin: 0 40px 0 40px;
}

.content__down{
    max-width: 100%;
    min-height: 388px;
    display: flex;
    margin-top: 30px;
    box-shadow: 0 1px 0 0 #80808085;
}

.content__down ul{
    line-height: 2.0;
    list-style-image: url('../images/check.png');
}

.content__down li:first-child{
    list-style-image: none;
    list-style-type: none;
    font-size: 32px;
    color: #4f4f4f;
    line-height: 65px;
    text-indent: -28px;
}

.content__end{
    max-width: 100%;
    min-height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content__end-form{
    width: 470px;
    height: 109px;
    background-color: #e67624;
    border-radius: 5px;
    margin: auto;
}

.content__end-form input[type=text], input[type=password]{
    padding: 0;
    height: 26px;
    width: 155px;
    border: none;
    background-color: #e8e8e8;
    text-indent: 11px;
    margin: 0 -15px 0 26px;
    font-size: 14px;
}

.content__end-form p{
    font-size: 27px;
    line-height: 18px;
    color: #fcede2;
    margin: 15px 0 27px 26px;
}


.content__end-mail{
    width: 470px;
    height: 109px;
    background-color: #01d4f3;
    border-radius: 5px;
    margin: auto;
}

.content__end-mail input[type=email]{
    padding: 0;
    height: 26px;
    width: 264px;
    border: none;
    background-color: #e8e8e8;
    text-indent: 11px;
    margin: 0 -15px 0 26px;
    font-size: 14px;
}

.content__end-mail p{
    font-size: 27px;
    line-height: 18px;
    color: #fcede2;
    margin: 15px 0 27px 26px;
}

.button__content-form{
    border: none;
    width: 94px;
    padding: 0;
    height: 30px;
    background-color: #444444;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 23px;
}

.button__content-form:hover{
    background-color: black;
    transition: 250ms;
}

.button__content-mail{
    border: none;
    width: 94px;
    padding: 0;
    height: 30px;
    background-color: #029bb1;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 83px;
}

.button__content-mail:hover{
    background-color: black;
    transition: 250ms;
}

footer{
    min-height: 244px;
    background-color: #26272a;
}

.footer__content{
    max-width: 1024px;
    margin: 0 auto;
    height: inherit;
    display: flex;
}

.footer__content ul{
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0;
    margin: 30px auto 20px;
}

.footer__content li{
    font-size: 13px;
    line-height: 1.6;
    color: #c7c8c8;
}

.footer__content li:first-child{
    font-size: 22px;
}

.footer__content a{
    text-decoration: none;
    color: #acaaab;
}

.footer__content a:hover{
    color: white;
}

.footer__content p{
    font-size: 13px;
    color: #acaaab;
}

.footer__content-text{
    max-width: 316px;
    margin: 0 auto 15px;
}

.footer__content-text h4{
    font-size: 22px;
    font-weight: normal;
    height: 8px;
}

.footer__small_arrow-1{
    margin: 0 0 0 55px;
}

.footer__small_arrow{
    transform: scaleX(-1);
}

.footer__content-logo{
    max-width: 222px;
    margin: 30px auto 20px;
}

.footer__content-logo img{
    opacity: 0.3;
}

@media screen and (max-width: 980px){
    .header__top{
        display: flex;
        justify-content: center;
        height: 202px;
    }

    .header-center {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        width: 90%;
    }

    .logo{
        flex: 2;
    }

    .logo img{
        max-width: 160px;
    }

    .menu__links-item {
        color: #f3f6f6;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 26px 21px;
    }

    .content__main {
        min-height: 1090px;
        margin-top: 60px;
        width: 90%;
        margin: auto;
    }

    .header__content-center img {
        position: relative;
        margin: 15px 20px 0 0;
        z-index: 2;
        width: 300px;
    }

    .header__content-center_text p {
        color: #ffffff;
        font-size: 32px;
        font-weight: normal;
        margin: 10px 0;
    }

    .header__content-center_text h1 {
        color: #ffffff;
        font-size: 50px;
        font-weight: 500;
        margin: 15px 0;
    }


    .header__content-button_left {
        visibility: hidden;
    }

    .header__content-button_right{
        visibility: hidden;
    }

    .content__menu {
        display: flex;
        max-width: 100%;
        margin-top: 35px;
    }

    .content__end-form {
        width: 470px;
        height: 109px;
        background-color: #e67624;
        border-radius: 5px;
    }

    .content__menu-block img{
        margin-top: 15px;
        width: 50%;
    }

    .content__menu-block h3{
        font-weight: 400;
        font-size: 22px;
        margin: 0;
        color: #bebdbd;
    }

    .content__down{
        max-width: 100%;
        min-height: 388px;
        margin-top: 30px;
        box-shadow: 0 1px 0 0 #80808085;
        display: block;
    }

    .content__down img{
        display: inline-block;
        height: auto;
        max-width: 100%;
    }

    .content__end-form {
        width: 470px;
        height: 109px;
        background-color: #e67624;
        border-radius: 5px;
        flex-grow: 1;
    }

    .content__end-mail{
        width: 470px;
        height: 109px;
        background-color: #01d4f3;
        border-radius: 5px;
        flex-grow: 1;
        margin: 10px auto;
    }

    .footer__content {
        max-width: 1024px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 95%;
    }

    .footer__content ul {
        list-style-type: none;
        padding-inline-start: 0;
        padding: 0;
    }
}

@media screen and (max-width: 720px){

    .menu__icon{
        display: inline-block;
    }

    .menu__links {
        position: fixed;
        display: none;
        right: 0;
        left: 0;
        margin-top: 52px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        overflow: auto;
    }

    .menu__links-item {
        display: block;
        padding: 15px 0;
        text-align: center;
        color: #ffffff;
    }



    main {
        max-width: 1024px;
        margin: 0 auto;
        height: inherit;
        display: flex;
    }

    .logo img {
        max-width: 130px;
    }

    header {
        width: 100%;
        height: 365px;
        background-image: url(../images/bg.png);
        background-size: cover;
    }


    .header__top {
        display: flex;
        justify-content: center;
        height: 135px;
    }

    .header-center {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 90%;
    }

    .header__content-center img {
        position: relative;
        margin: 0 10px 0 0;
        width: 215px;
    }

    .header__content-center_text h1 {
        color: #ffffff;
        font-size: 25px;
        font-weight: 500;
        margin: 15px 0;
    }

    .header__content-center_text p {
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
        margin: 10px 0;
    }

    .header__content-center_text-button h4 {
        color: #dbdbdb;
        font-size: 15px;
        line-height: 2;
        font-weight: 100;
        display: inline;
    }

    .content__menu-block h3 {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        color: #bebdbd;
    }

    .content__menu-block h4 {
        font-weight: 200;
        font-size: 12px;
        color: #bebdbd;
        margin-top: 0;
    }

    .header__content-center_text-button {
        width: 95px;
        height: 30px;
        background-color: #296f4e;
        text-align: center;
        cursor: pointer;
        transition: 250ms;
        font-weight: normal;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        margin: 15px 0;
    }

    .content__menu {
        display: flex;
        max-width: 100%;
    }

    .content__menu-block img {
        margin-top: 15px;
        width: 60%;
    }

    .content__menu-block h4 {
        font-weight: 200;
        font-size: 11px;
        color: #bebdbd;
        margin-top: 0;
    }

    .content__menu-block h3 {
        font-weight: 400;
        font-size: 13px;
        margin: 0;
        color: #bebdbd;
    }

    .content__end-form {
        width: 470px;
        height: 150px;
        background-color: #e67624;
        border-radius: 5px;
        flex-grow: 1;
        display: grid;
    }

    .content__end-form p {
        font-size: 24px;
        line-height: 10px;
        color: #fcede2;
        margin: 14px auto;
        width: 90%;
    }

    .content__end-form input[type=text], input[type=password] {
        padding: 0;
        height: 26px;
        width: 90%;
        border: none;
        background-color: #e8e8e8;
        text-indent: 11px;
        /* margin: 0 -15px 0 26px; */
        font-size: 14px;
        margin: auto;
    }
    .button__content-form {
        border: none;
        width: 90%;
        padding: 0;
        height: 30px;
        background-color: #444444;
        color: white;
        font-size: 14px;
        cursor: pointer;
        margin: auto;
        /* margin-left: 23px; */
    }

    .content__end-mail {
        width: 470px;
        height: 150px;
        background-color: #01d4f3;
        border-radius: 5px;
        flex-grow: 1;
        display: grid;
    }

    .content__end-mail p {
        font-size: 24px;
        color: #fcede2;
        margin: 5px auto;
        width: 90%;
        line-height: 1;
    }

    .content__end-mail input[type=email] {
        border: none;
        background-color: #e8e8e8;
        text-indent: 11px;
        margin: auto;
        width: 90%;
        font-size: 14px;
    }

    .button__content-mail {
        border: none;
        background-color: #029bb1;
        color: white;
        font-size: 14px;
        cursor: pointer;
        margin: auto;
        width: 90%;
    }

    .footer__content ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

}
